 /* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/* CSS */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo {
    border-radius: 3px !important;
}